body {
  background-color: hsl(210, 46%, 95%);
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  width: 50rem;
  margin: 15rem auto;
  animation: fadeIn 1s;
}

.pic {
  width: 100%;
  background-image: url("images/drawers.jpg");
  background-size: cover;
  border-radius: 10px 0 0 10px;
  content: "";
}

.text {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0 10px 10px 0;
  position: relative;
}

.title {
  width: 95%;
  margin-bottom: 1rem;
  color: hsl(217, 19%, 35%);
  font-size: 20px;
  font-weight: 700;
}

.paragraph, .member-date {
  color: hsl(214, 17%, 51%);
}

.profile {
  margin: 1rem 0;
}

.profile-pic {
  width: 2.3rem;
  border-radius: 50%;
  float: left;
  margin-right: 1rem;
}

.info {
  float: left;
  margin-top: 0.2rem;
}

.name {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

.share {
  float: right;
  font-size: 18px;
  background-color: hsl(210, 46%, 95%);
  color: hsl(214, 17%, 51%);
  padding: 0.4rem;
  border-radius: 50%;
  margin-top: .4rem;
  margin-right: .4rem;
  position: relative;
  z-index: 3;
}

.share:hover {
  cursor: pointer;
}

.bubble {
  visibility: hidden;
  position: absolute;
  background-color: hsl(217, 19%, 35%);
  border-radius: 10px;
  width: 12rem;
  padding: 1.2rem 1.8rem;
  color: #fff;
  display: flex;
  justify-content: space-around;
  left: 63%;
  bottom: 5.5rem;
  box-shadow: 0px 10px 10px 1px hsl(212, 23%, 89%);
  z-index: 1;
}

.bubble::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 60%;
  width: 0;
  height: 0;
  border: .7rem solid transparent;
  border-top-color: hsl(217, 19%, 35%);
  margin-left: -39px;
  margin-bottom: -22px;
  z-index: 1;
}

.icon {
  width: 1.1rem;
}

.share-txt {
  color: hsl(212, 23%, 69%);
  display: inline-block;
}

/* Tablet size */
@media (max-width: 990px) and (min-width: 820px) {
  .content {
    width: 50rem;
  }

  .pic {
    animation: fadeOut 1s ease-in;
  }

  .text {
    animation: fadeOut 1s ease-in;
  }

  .bubble {
    left: 45%;
  }

  .bubble::after {
    left: 95%;
  }
}

/* Mobile size */
@media (max-width: 820px) {
  .content {
    flex-direction: column;
    width: 90%;
    margin: 3rem auto;
    align-items: center;
    justify-content: space-around;
  }

  .pic {
    width: 100%;
    height: 20rem;
    background-image: url("images/drawers.jpg");
    background-size: cover;
    border-radius: 10px 10px 0 0;
    content: "";
    animation: fadeIn 2s ease-out;
  }

  .text {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    width: 80%;
    padding: 2rem 10% 1rem;
    position: relative;
    animation: fadeIn 2s ease-out;
  }

  .title {
    width: 100%;
    font-size: 15px;
  }

  .paragraph {
    font-size: 13px;
    width: 100%;
    margin-bottom: 2rem;
  }

  .share-txt, .icon {
    margin: 0 .6rem;
  }

  .share-txt {
    margin-left: 2rem;
  }

  .bubble {
    visibility: hidden;
    position: absolute;
    background-color: hsl(217, 19%, 35%);
    border-radius: 0 0 10px 10px;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 1.5rem 0;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    z-index: 1;
  }

  .bubble::after {
    visibility: hidden;
  }
}

/* Animation Class */
.fade-in {
  animation: fadeIn 4s ease;
  -webkit-animation: fadeIn 4s ease;
  -moz-animation: fadeIn 4s ease;
  -o-animation: fadeIn 4s ease;
  -ms-animation: fadeIn 4s ease;
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }

}
